- days = Date::ABBR_DAYNAMES.rotate

#schedule.card
  %h2 Schedule
  %hr
  .form-group
    = form.fields_for :schedule, form.object.schedule do |schedule_form|
      = schedule_form.hidden_field :week_b, class: 'form-control'
      = schedule_form.hidden_field :id, class: 'form-control'
  %table.table.table-bordered.no-highlight
    %tr
      %th
      - days.each_with_index do |name|
        %th.day.text-center
          = name
    - (Schedule::DIVISIONS / 7).times do |seg|
      %tr
        %td.text-right{ style: 'padding: 1px;' }
          - time = Time.zone.now.beginning_of_day + seg.hours
          - fmt = '%-I %p'
          = "#{time.strftime(fmt)} - #{(time + 1.hour).strftime(fmt)}"
        - days.each_with_index do |name, day|
          %td.seg{style: 'width: 11.5%; padding: 1px;', data: { offset: (day * 24 + seg) }}
