= form_for @client do |client_form|
  = render partial: 'shared/form_errors', locals: { form: client_form }
  = render partial: 'shared/forms/basic_info', locals: { form: client_form }
  = render partial: 'shared/forms/tags', locals: { form: client_form }
  = render partial: 'clients/forms/tasks', locals: { form: client_form }
  = client_form.submit "#{@client.new_record? ? 'Add' : 'Update'} client", class: 'btn btn-primary btn-lg'
