.container
  %h1.text-center #{@group.name}
  .row
    .col-md-3
      = quick_look(@clients.length, 'Clients', clients_path, 'home', 'success')
    .col-md-3
      = quick_look(@caregivers.length, 'Caregivers', caregivers_path, 'user', 'info')
    .col-md-3
      = quick_look(8, 'Unfilled Shifts', '/', 'calendar', 'warning')
    .col-md-3
      = quick_look(4, 'Late Visits', '/', 'alarm-clock', 'danger')
  = render partial: 'shared/calendar'
