!!! 5
%html
  %head
    %title Plume
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %meta{name: 'description', content: 'Feather for Reliance Health'}
  %body
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/flashes'
    %main= yield
    = render partial: 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
